@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.button {
    @apply py-2 px-4 bg-[#db4444] text-white cursor-pointer active:scale-95 transition-all ease-out;
}

.register-sideimages {
    @apply sm:h-full items-center hidden sm:flex;
}

.input {
    @apply py-2 text-xl border-b border-gray-400 outline-none;
}

.category-item {
    @apply cursor-pointer hover:text-gray-500;
}

.productCard-icon {
  @apply p-2 bg-white rounded-full shadow hover:bg-gray-100;
}

.contact-account-input {
  @apply px-4 bg-[#f5f5f5] py-2 focus:outline-none;
}

.custom-shape-divider-top-1757444495 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}